{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^src/actions/(.*)$",
    "^app/(.*)$",
    "^(common|components)/(.*)$",
    "^(actions|lib|utils)/(.*)$",
    "^(route-urls)$",
    "^(static)/(.*)$",
    "^(?!styles/)(.*)css(.*)",
    "^styles/(.*).css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
